

.media-center {

	text-align: center;
}

.heading-styles {
	
	background-color: #6f5499;
	color: #cdbfe3;
	text-align: center;
}


.button-submit:hover {

	background-color: #cdbfe3;
	color: gray;
}

.gif-get-btn {

	margin: 3px;
}
